html {
	width: 100%;
	font-size: calc((10 / 1920) * 100vw);

	// @media (max-width: 1199.98px) {
	// 	font-size: calc((10 / 1200) * 100vw);
	// }

	@media (max-width: 991.98px) {
		font-size: calc((12 / 992) * 100vw);
	}

	// @media (max-width: 767.98px) {
	// 	font-size: calc((14 / 768) * 100vw);
	// }

	@media (max-width: 575.98px) {
		font-size: calc((12 / 576) * 100vw);
	}
}

body {
	font-family: Mulish, sans-serif;
	color: var(--dark-blue-color);
}

.nav {
	width: 140.7rem;
	padding: 3rem;
	margin: 0 auto;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;

	&__logo {
		img {
			width: 4rem;
			height: 3rem;
		}

		font-size: 3.7rem;
		font-weight: 800;
	}

	&__menu {
		list-style: none;
		display: flex;
		padding-left: 0;
		margin-bottom: 0;
		font-size: 2rem;
		font-weight: 400;
		color: var(--dark-blue-color);

		&__item {
			margin-right: 3rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.banner {
	margin: 0 auto;
	position: relative;
	display: flex;
	overflow: hidden;

	font-size: 3rem;

	width: 172rem;
	height: 94rem;
	margin-top: 8.3rem;

	background: #fffafa;
	border-radius: 2rem;

	&__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;
		z-index: 1;

		&__h1 {
			margin-bottom: 1.6rem;
		}

		&__p {
			font-size: 5rem;

			&__bold {
				font-weight: 700;

				&--orange {
					color: var(--orange-color);
				}

				&--blue {
					color: var(--light-blue-color);
					text-decoration: underline;
				}
			}

			&--dist {
				margin-top: 8.7rem;
			}
		}

		&__emoji {
			&--horns {
				width: 6.7rem;
			}

			&--10 {
				width: 10.9rem;
			}
		}

		&__scroll-button {
			width: 19.5rem;
			height: 19.7rem;
		}
	}

	&__shadow-circle {
		position: absolute;
		border-radius: 100%;
		filter: blur(200px);

		&--green {
			width: 64.1rem;
			height: 56.3rem;

			margin-top: 4.3rem;
			margin-left: 10.2rem;

			background-color: #d2fff7;
		}

		&--red {
			width: 59.1rem;
			height: 57.9rem;

			margin-top: 27.8rem;
			margin-left: 89.9rem;

			background-color: #ffd4e9;
		}
	}

	&__circle {
		height: 11.2rem;
		width: 11.2rem;

		position: absolute;
		border-radius: 100%;

		&--green {
			margin-top: 15.3rem;
			margin-left: 43.8rem;
			background-color: #bef3ea;
		}

		&--red {
			margin-top: 45.5rem;
			margin-left: 102rem;

			background-color: #ffdbec;
		}
	}

	&__pattern {
		position: absolute;

		&--left {
			width: 99.4rem;
			height: 50rem;

			margin-top: 27.6rem;
			margin-left: -33.2rem;

			transform: rotate(40.26deg);
		}

		&--right {
			width: 42.5rem;
			height: 41.6rem;

			margin-top: 10rem;
			margin-left: 125.3rem;

			transform: rotate(-116.64deg);
		}
	}
}

.work {
	&__header {
		height: 4rem;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 6.3rem;

		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.4rem;

		&__line {
			background-color: #cccccc;

			&--1 {
				width: 52rem;
				height: 0.05rem;
			}

			&--2 {
				width: 0.05rem;
				height: 4rem;
			}
		}

		&__dist {
			width: 1rem;
		}

		&__emoji {
			width: 2.6rem;
			margin-right: 0.4rem;
		}
	}

	&__tile {
		position: relative;
		margin: 0 auto;
		overflow: hidden;

		width: 122rem;
		height: 56rem;
		border-radius: 2rem;
		margin-top: 15rem;
		margin-bottom: 15rem;

		&--1 {
			background: #edf0f9;
		}

		&--2 {
			background: #eaeaea;
		}

		&--3 {
			background: #abebff;
		}

		&--4 {
			background: #fff3e9;
		}

		&--5 {
			display: flex;
			justify-content: space-between;
			height: auto;
		}

		&__pattern {
			&__left {
				position: absolute;
				top: 0;
				left: 0;
				width: 15.7rem;
				height: 13rem;
				border-top-left-radius: 25.35rem;
				border-top-right-radius: 2.6rem;

				transform: rotate(-180deg);

				&--1 {
					background: #d9dff2;
				}
				&--2 {
					background: #e3e3e3;
				}
				&--3 {
					background: #ffc9dc;
				}
				&--4 {
					background: #f4e5d8;
				}
			}

			&__right {
				position: absolute;
				top: 0;
				right: 0;
				width: 35rem;
				height: 55.9rem;
				border-top-left-radius: 26rem;

				&--1 {
					background: #d9dff2;
				}
				&--2 {
					background: #e3e3e3;
				}
				&--3 {
					background: #ffc9dc;
				}
				&--4 {
					background: #f4e5d8;
				}
			}
		}

		&__img1 {
			position: absolute;
			top: 0rem;
			left: 63rem;

			width: 39.24rem;

			background: none;
		}

		&__img2 {
			position: absolute;
			bottom: 0;
			left: 77.4rem;

			width: 39.24rem;

			background: none;
		}

		&__img3 {
			position: absolute;
			top: 7rem;
			left: 63.5rem;
			width: 45rem;

			transform: rotate(-21deg);
		}

		&__img4 {
			position: absolute;
			top: 4rem;
			left: 82.5rem;
			width: 40rem;

			transform: rotate(-21deg);
		}

		&__img5 {
			position: absolute;
			top: 0;
			right: 28.2rem;
			width: 34rem;
		}

		&__img6 {
			position: absolute;
			bottom: 0;
			right: 5.5rem;
			width: 47rem;
		}

		&__img7 {
			position: absolute;
			top: 44rem;
			right: -4rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img8 {
			position: absolute;
			top: 11rem;
			left: 100.5rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img9 {
			position: absolute;
			top: -22rem;
			left: 89.8rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img10 {
			position: absolute;
			top: -7.5rem;
			right: -6rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img11 {
			position: absolute;
			top: 8.5rem;
			left: 80rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img12 {
			position: absolute;
			top: -24.5rem;
			left: 69rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img13 {
			position: absolute;
			bottom: -17rem;
			left: 90.5rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img14 {
			position: absolute;
			bottom: -4rem;
			left: 67rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__img15 {
			position: absolute;
			top: -4rem;
			left: 56.5rem;
			width: 14.7rem;

			transform: rotate(-18deg);
		}

		&__content {
			position: relative;
			z-index: 1;
			width: 46rem;

			top: 10.6rem;
			left: 8.3rem;

			background: none;

			h3 {
				margin-bottom: 2.5rem;
			}

			p {
				font-size: 2rem;
				margin-bottom: 2.5rem;
			}

			&__button {
				display: inline-flex;
				padding: 0.8rem 2rem;
				font-size: 1.8rem;
				font-weight: 600;
				border-radius: 1rem;
				margin-right: 1.2rem;

				&--1 {
					color: #6878ac;
					background: #d9deee;
				}

				&--2 {
					color: #525665;
					background: #dfdfdf;
				}

				&--3 {
					color: #5ab5d1;
					background: #ffffff;
				}

				&--4 {
					color: #ae7e56;
					background: #eccfb8;
				}
			}

			&__button2 {
				display: inline-flex;
				padding: 1.8rem 3.8rem;
				font-size: 1.8rem;
				font-weight: 700;
				border-radius: 1rem;
				margin-right: 1.2rem;

				color: #ffffff;
				background: var(--orange-color);

				&__arrow {
					margin-left: 1rem;
					width: 1.5rem;
					transform: rotate(-135.52deg);
				}
			}

			&__img3 {
				width: 24.8rem;
			}
		}

		&__content2 {
			width: 58rem;
			background: none;

			h5 {
				margin-bottom: 1.8rem;
			}

			p {
				font-size: 2rem;
				margin-bottom: 3.5rem;
				color: #525665;
			}

			img {
				width: 100%;
				filter: grayscale(100%);
				border-radius: 3rem;
				margin-bottom: 3.6rem;
			}

			&__button {
				display: inline-flex;
				padding: 1.8rem 2.6rem;
				font-size: 1.8rem;
				font-weight: 700;
				text-align: center;
				color: white;
				border-radius: 1rem;
				background: #bbbbbb;
			}
		}
	}
}

.about {
	width: 100%;
	height: 74rem;
	background: #e8eff0;

	&__header {
		height: 4rem;
		text-align: center;
		text-transform: uppercase;

		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.4rem;

		&__line {
			background-color: #cccccc;

			&--1 {
				width: 50rem;
				height: 0.05rem;
			}

			&--2 {
				width: 0.05rem;
				height: 4rem;
			}
		}

		&__dist {
			width: 1rem;
		}

		&__emoji {
			width: 3.4rem;
			margin-right: 0.4rem;
		}
	}

	&__content {
		display: flex;

		&__text {
			margin-top: 21.6rem;
			margin-left: 35rem;

			width: 65.6rem;
			margin-right: 4.8rem;

			color: var(--light-grey-color);
			font-size: 2rem;
		}

		&__photo {
			margin-top: 20.2rem;
			width: 51.6rem;
			height: 28.7rem;
			border-radius: 3rem;
		}

		&__button {
			margin-top: 38.6rem;
			margin-left: -25rem;
			width: 23.5rem;
		}

		&__bold {
			&--black {
				font-weight: 900;
			}

			&--orange {
				font-weight: 800;
				color: var(--orange-color);
			}

			&--blue {
				color: #7aa3f3;
				font-weight: 900;
				text-decoration: underline;
			}

			&--italic {
				font-style: italic;
				font-weight: 700;
			}
		}

		&__emoji {
			margin-bottom: 0.7rem;
			width: 2rem;
		}
	}
}

.services {
	margin-bottom: 4rem;

	&__header {
		height: 4rem;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 18rem;

		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.4rem;

		&__line {
			background-color: #cccccc;

			&--1 {
				width: 50rem;
				height: 0.05rem;
			}

			&--2 {
				width: 0.05rem;
				height: 4rem;
			}
		}

		&__dist {
			width: 1rem;
		}

		&__emoji {
			width: 3.4rem;
			margin-right: 0.4rem;
		}
	}

	&__tiles {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		width: 124rem;

		align-items: center;

		margin: 0 auto;

		gap: 3rem 2.5rem;

		&__tile {
			width: 39rem;
			height: 39rem;
			background: white;
			border-radius: 2rem;
			border: 1px #e0e0e0 solid;
			padding: 5.6rem 3.4rem 5.7rem;

			h5 {
				margin-bottom: 1.3rem;
			}

			p {
				font-size: 2rem;
				margin-bottom: 2.5rem;
				font-weight: 500;
				line-height: 128.5%;
				color: #525665;
			}

			ul {
				list-style-type: none;

				li {
					position: relative;
					margin-bottom: 0.5rem;
					font-size: 2rem;
					font-weight: 600;
					line-height: 183.5%;

					&::before {
						margin-top: 1.2rem;
						margin-left: -2.2rem;
						position: absolute;
						content: "";
						width: 1.2rem;
						height: 1.2rem;
						border-radius: 100%;
						background: var(--orange-color);
					}
				}
			}

			&__icon {
				margin-bottom: 2.6rem;

				&--1 {
					width: 3.5rem;
				}

				&--2 {
					width: 5.5rem;
				}

				&--3 {
					width: 5.4rem;
				}

				&--4 {
					width: 5.2rem;
				}

				&--5 {
					width: 5.5rem;
				}

				&--6 {
					width: 5.5rem;
				}
			}
		}

		&__background {
			position: absolute;
			overflow: hidden;
			z-index: -1;
			width: 87rem;
			height: 46rem;
			left: 50%;
			top: 50%;
			background-color: #fffafa;
			border-radius: 3rem;
			transform: translate(-50%, -50%);

			&__pattern {
				&__shadow {
					width: 72.17rem;
					height: 60.66rem;
					filter: blur(10rem);
					opacity: 50%;

					&--1 {
						margin-top: 2rem;
						margin-left: 75rem;
						background: #ffd5e9;
					}

					&--2 {
						margin-top: -88rem;
						margin-left: -17rem;
						background: #d2fff7;
					}
				}

				&__circle {
					width: 13.67rem;
					height: 11.73rem;
					border-radius: 100%;

					&--1 {
						margin-top: -18rem;
						margin-left: 68rem;
						background: #ffdbec;
					}

					&--2 {
						margin-top: -34rem;
						margin-left: 18rem;
						background: #bef3ea;
					}
				}

				&__line {
					&--1 {
						margin-top: -3rem;
						margin-left: 35rem;
						width: 49.5rem;
						height: 40.3rem;
						transform: rotate(149.69deg);
					}

					&--2 {
						margin-top: -26rem;
						margin-left: -24rem;
						width: 75rem;
						height: 37rem;
					}
				}
			}
		}
	}
}

.testimonials {
	&__header {
		margin-bottom: 18rem;
		height: 4rem;
		text-align: center;
		text-transform: uppercase;

		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.4rem;

		&__line {
			background-color: #cccccc;

			&--1 {
				width: 46rem;
				height: 0.05rem;
			}

			&--2 {
				width: 0.05rem;
				height: 4rem;
			}
		}

		&__dist {
			width: 1rem;
		}

		&__emoji {
			width: 3.4rem;
			margin-right: 0.4rem;
		}
	}

	&__content {
		margin: auto;

		h3 {
			margin-bottom: 6rem;
		}

		p {
			font-size: 2rem;
			font-weight: 500;
			color: #525665;
		}

		width: 124rem;
		border-radius: 2rem;
		padding: 15.3rem 9.8rem;
		background-color: #fff4f0;

		&__person {
			img {
				width: 9rem;
			}

			&__header {
				display: flex;
				align-items: center;
				margin-bottom: 0.5rem;

				&__name {
					padding-left: 2.2rem;
				}
			}

			&__comment {
				margin-left: 2.4rem;
				display: flex;
				align-items: center;
				gap: 4rem;

				img {
					width: 4.7rem;
				}

				p {
					font-family: Fraunces, sans-serif;
					font-weight: 400;
					font-size: 2.2rem;
					line-height: 3.2rem;
				}
			}
		}

		&__divider {
			margin-top: 4.3rem;
			margin-bottom: 5rem;
			width: 76rem;
			height: 0.05rem;
			background-color: #d0a798;
		}
	}
}

.news {
	margin-bottom: 13.2rem;

	&__header {
		height: 4rem;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 18rem;

		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.4rem;

		&__line {
			background-color: #cccccc;

			&--1 {
				width: 46rem;
				height: 0.05rem;
			}

			&--2 {
				width: 0.05rem;
				height: 4rem;
			}
		}

		&__dist {
			width: 1rem;
		}

		&__emoji {
			width: 3.4rem;
			margin-right: 0.4rem;
		}
	}

	&__content {
		margin: auto;
		display: flex;
		justify-content: space-between;
		width: 122rem;

		&__block {
			width: 58rem;
			background: none;

			h5 {
				margin-bottom: 1.8rem;
			}

			p {
				font-size: 2rem;
				margin-bottom: 1.4rem;
				color: #525665;
			}

			&__img {
				width: 100%;
				border-radius: 3rem;
				margin-bottom: 2.9rem;
			}

			&__button {
				font-size: 1.8rem;
				font-weight: 700;

				&__arrow {
					margin-left: 0.5rem;
					margin-top: -0.3rem;
					width: 1.8rem;
					transform: rotate(-135.52deg);
				}
			}
		}
	}
}

.footer {
	height: 93rem;
	background-color: #e6ddfa;
	overflow: hidden;

	&__text {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__button {
			display: block;
			margin: auto;
			padding-top: 11rem;
			width: 20.3rem;
			align-items: center;
		}

		&__strip {
			padding-top: 5.5rem;
			margin-left: -60rem;
			font-size: 5rem;
			white-space: nowrap;

			&__emoji {
				margin-top: -1.5rem;

				&--peace {
					width: 5.4rem;
				}

				&--monitor {
					width: 5.2rem;
				}
			}
		}
	}

	&__mailbox {
		position: relative;
		z-index: 1;
		margin-top: 9.2rem;
		font-family: Fraunces, sans-serif;
		font-weight: 400;
		font-size: 2.5rem;

		&__line {
			width: 100%;
			height: 0.15rem;
			background-color: #d092ba;

			&--bottom {
				margin-top: 8rem;
			}
		}

		&__links {
			margin-top: -14rem;
			margin-left: 26rem;
			gap: 13rem;
			position: absolute;
			display: flex;

			&__section {
				flex-direction: column;
				line-height: 5rem;
			}
		}

		&__mail {
			margin-top: 10rem;
			margin-left: 80rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 3.5rem 3.6rem;
			gap: 5rem;

			width: 85.6rem;
			height: 13rem;

			background: white;
			border-radius: 2rem;

			&__button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 18.4rem;
				height: 6rem;
				padding: 1.7rem 2.8rem 1.8rem;
				gap: 1rem;
				color: white;

				font-family: Mulish, sans-serif;
				font-weight: 600;
				font-size: 1.8rem;

				background: #242f65;
				border-radius: 10px;

				img {
					width: 2.1rem;
				}
			}
		}
	}

	&__copyright {
		position: relative;
		z-index: 1;
		margin-top: 0.5rem;
		display: flex;
		justify-content: center;
		font-size: 2rem;
	}

	&__background {
		position: relative;

		&__pattern {
			position: absolute;
			width: 42.5rem;
			transform: rotate(-40.26deg);
			&--1 {
				margin-top: -8rem;
				margin-left: 143rem;
			}

			&--2 {
				margin-top: 22rem;
				margin-left: -25rem;
			}
		}

		&__shadow {
			position: absolute;
			border-radius: 100%;

			&--1 {
				margin-top: 16.3rem;
				margin-left: 47.2rem;
				height: 11.2rem;
				width: 11.2rem;
				background-color: #ffd2e6;
			}

			&--2 {
				margin-left: 98.3rem;
				margin-top: 27.8rem;

				width: 59rem;
				height: 58rem;
				opacity: 0.8;
				filter: blur(10rem);
				background-color: #d5d4ff;
			}

			&--3 {
				margin-top: 4.3rem;
				margin-left: 18.6rem;
				width: 64rem;
				height: 56rem;

				opacity: 0.5;
				filter: blur(10rem);
				background-color: #ffd2dd;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Fraunces, sans-serif;
	font-weight: 500;
	color: var(--dark-blue-color);
}

h1 {
	font-size: 10rem;
	line-height: 11rem;
}

h2 {
	font-size: 5rem;
	line-height: 5.5rem;
}

h3 {
	font-size: 4rem;
	line-height: 4.4rem;
}

h4 {
	font-size: 3.5rem;
	line-height: 3.85rem;
}

h5 {
	font-size: 3rem;
	line-height: 3.3rem;
}

h6 {
	font-size: 2.5rem;
	line-height: 2.75rem;
}

:root {
	--orange-color: #ff774c;
	--dark-blue-color: #242f65;
	--light-grey-color: #525665;
	--dark-grey-color: #2f2f2f;
	--black-color: #2a2c32;
	--light-blue-color: #7390f9;
}
